[Unit]
Description=Glennergy Algoritm Timer

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=glennergy-algoritm.service

[Install]
WantedBy=timers.target