[Unit]
Description=Glennergy Spotpris Timer
PartOf=glennergy-main.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=glennergy-spotpris.service

[Install]
WantedBy=glennergy-main.service