[Unit]
Description=Fetch Meteo data 15 min
Requires=glennergy-meteo.service

[Timer]
OnCalendar=*:0/15
OnBootSec=5min
Persistent=true
AccuracySec=1s

[Install]
WantedBy=timers.target
